# Object files
*.o
*.lo
*.ko

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Temporal files
*~
*.mod.c
*.cmd
*.class
.classpath
cscope.*
.coverage
.deps
.dirstamp
.libs
.tmp_verions
.project
.pydevproject
.settings
.DS_Store
Module.symvers
target
tags
thrift
*.swp
*.pyc
findbugs-results
