# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Temporal files
*~
*.class
.classpath
.project
.pydevproject
.settings
.DS_Store
target
thrift
*.swp
*.pyc
findbugs-results
